<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

    <xacro:arg name="name" default="ur" />
    <xacro:arg name="prefix" default="" />

    <xacro:include filename="$(find ur_moveit_config)/srdf/ur.srdf.xacro" />


    <xacro:macro name="ur_srdf" params="name prefix"/>

    
    <xacro:ur_srdf name="$(arg name)" prefix="$(arg prefix)" />
    <disable_collisions link1="wrist_3_link" link2="onrobot_eyes_base_link" reason="Adjacent" />
    <disable_collisions link1="onrobot_eyes_base_link" link2="onrobot_quick_changer_base_link" reason="Adjacent" />

    
</robot>